@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800&display=swap');
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

$color900: #23036a;
$color800: #30009c;
$color700: #3700b3;
$color600: #5600e8;
$color500: #6200ee;
$color400: #7f39fb;
$color300: #985eff;
$color200: #bb86fc;
$color100: #dbb2ff;
$color50: #f2e7fe;

$grey-component: #1d1d1d;
$grey-background: #121212;

@mixin component-base {
    background-color: $grey-component;
    border-radius: 10px;
    padding: 50px 40px;
    width: 100%;
}

@mixin button-base {
    border-radius: 5px;
    border: none;
    background-color: $color300;
    color: $color50;
    text-transform: uppercase;
    font-weight: 400;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    &:hover{
        box-shadow: 0px 0px 8px 0px rgba(152,94,255,1);
    }
}

body {
    background: $grey-background;
    color: $color50;
}

a,
p,
span,
h1,
h2,
h3,
h4,
h5,
h6,
button,
div,
input {
    &::selection {
        background-color: $color900;
        color: white;

    }
}
